
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;               
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}
hr {
    width: 90%;
    border: 10;
    height: 10px;
    background-color: #ccc;
    margin-bottom: 30px;
}

label {
    font-size: 20px ;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}

input[type="number"] {
    padding: 8px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-top: 5px;
}
button {
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px 5px 10px ;
    border-radius: 50px;
    background-color: #0099ff;
    color: rgb(255, 255, 255);
}
#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    min-height: 30px;  
    color: #000000;
}
br {
    line-height: 1.5;
}
